/*skip*/
.skip a{
    background: white;
    left: 0;
    padding: 7px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  
    /*Your code here*/
    position: relative;
    top: -500px;
  }

.skip a:focus{
    position: relative;
    top: -100px;
  }


body{
    margin: 0px;
    font-family: "Lato",sans-serif;
    background-color: #fffafa;
    display:grid;

}

body>main {
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    line-height: normal;
}

header{
    grid-area: 2 / 1 / 2/ 1;
    display: flex;
    flex-direction: column;
}
head>div{
    order:-1;
}
header>h1{
    order:3;
    display: flex;
    justify-content: center;

}

/* header>nav,header>div,header>h1{
    margin: 1em;
} */

/* nav style */
.nav-wrapper{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    /* padding: 38px; */
    align-items: center;

    /* background-color:lightcyan; */
    padding-top: 5%;
    padding-bottom: 5%;

    /* width include padding  and margin */
    box-sizing: border-box;
    width: 100%;
    /* always on the top layer*/
    z-index: 1; 
    flex-basis:100%;

}
.left-side{
    display:flex;
    justify-content: flex-start;
    align-content: center;
    font-size: 1.2em;

    box-sizing: border-box;
    max-width: 90%;
    flex-wrap: wrap;
}

.right-side-img{
    display:flex;
    justify-content: flex-end;
    align-content: center;
    margin-left: 1em; 
    /* max-width: 68px;
    max-height: 68px; */
    box-sizing: border-box;
    width: 13%;
    
}


.right-side-img>img{
    display: flex;
    
    /* align-self: center; */
    max-height: 65px;
    border-radius: 50%;
    position: relative;
}

.nav-wrapper > .left-side > div{
    margin-left: 0.5em;  /*20pc*/
    margin-right: 0.5em;
    margin-bottom: 1em;
    font-size: 0.9em;
    text-transform: uppercase;
}
.nav-link-wrapper{
    height: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    
}
.nav-link-wrapper a{
    color: #595959; /*:#8a8a8a;*/
    text-decoration: none;
    transition: color .5s;
}
.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
    color:black;
}
.active-nav-link{
    border-bottom: 2px solid black;
    position: relative;
}
.active-nav-link a{
    color: black !important;
    font-size: 1.1em;
    
}
.active-nav-link::after{
    color: black !important;
    content: "🎯";
    position: absolute;
    top: 1.1em;
    bottom: 1em;
    left: 0px;
    right: 0px;
}

.name-for-large{
    display: none;
    margin-bottom: 5em;
}

/* no mobile */
.no-mobile {
    display: none;
}


figcaption {
    color: black;
    font-family: "Lato",sans-serif;
    font-size: 1em;
    font-weight: bold;
}
figcaption >p{
    color: black;
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    line-height: normal;
    font-weight: normal;
}


/* main figure */
.main-figure{
    /* position: relative; */
    width: 100%;
    height: 100%;
    /* margin-top: 5em; */
}
.main-figure>img{
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 50%;
}



/* footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-top: 1px solid #DADCE0;

}
footer>* {
    /* justify-content: center; */
    align-self: center;
}

.footer-icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 20%;
}
.footer-icon>i{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fab {
    color: lightsteelblue;
  }
.fab:hover{
    color: darkslateblue;
}


/* Project */
.content-wrapper{
    display:grid;
    grid-template-columns: 1fr;

    /* grid-column-gap: 32px; */
    
    /* border: 1px solid transparent; */
    /* border-top: 1px solid #DADCE0; */
    /* border-bottom: 1px solid #DADCE0; */

    
}

main > p {
    padding: 1em;

}

.content-wrapper>figure{
    
    /* display: grid;
    grid-column: 2/ span 2;  */
    /* padding:1em; */
    padding: 1em;
    /* padding-top: 1em;
    padding-bottom: 1em; */
}
/* .content-wrapper:nth-child(odd){
    display: grid;
    grid-column: 3/ span 1; 
}
.content-wrapper:nth-child(even){
    display: grid;
    
} */



.content-wrapper>figure>img, .content-wrapper>div>img{
    width: 100%; 
}


/* Music */
figure:hover {
    transform:scale(0.95);
    -webkit-transform:scale(0.95);
    -moz-transform:scale(0.95);
    -ms-transform:scale(0.95);
    -o-transform:scale(0.95);
    box-shadow: 10px 10px 5px #d3d3d3;
    
}
figure>img:hover {
    filter: contrast(150%);
    -webkit-filter: contrast(150%);
}

/* boarder reference: https://juejin.cn/post/6861501624993447950 */
figure {
    position: relative;
    /* outline: none; */
    padding: 0% 2%;
    box-sizing: border-box;
  }
  
figure::before, figure::after {
    box-sizing: inherit;
    position: absolute;
    content: '';
    border: 1px solid transparent;
    width: 0;
    height: 0;
  }
  
figure::after {
    bottom: 0;
    right: 0;
  }

figure::before {
    top: 0;
    left: 0;
  }

figure:hover::before, figure:hover::after {
    width: 100%;
    height: 100%;
  }

figure:hover::before {
    border-top-color: #778899;
    border-right-color:#778899;
    transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
  }

figure:hover::after {
    border-bottom-color: #778899;
    border-left-color: #778899;
    transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
}



/* ABOUT */
.article-image {
    position: relative;
    width: 100%;
}
.article-image>img{
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #d3d3d3;
  }
.article-image:hover .overlay {
    opacity: 1;
  }

.text {
    color:black;
    opacity: 1;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

/* form */
.form-div{
    box-sizing: border-box;
    background: blanchedalmond;
    /* font-family: sans-serif; */
    padding: 1em;
    width: 90%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
form {
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
}
fieldset{
    /* text-align: center; */
}
legend {
    margin: 1em auto;
    font-size: 1.2em;
    /* text-align: center; */
    color: black;
    
 }
.form-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    color:#2b2d2f;
    font-size: 0.8em;
}
#name{
    grid-area: 1/1/2/2;
}
#input-name{
    grid-area: 2/1/3/2;
}
#email{
    grid-area: 3/1/4/2;
}
#input-email{
    grid-area: 4/1/5/2;
}
#subject{
    grid-area: 5/1/6/2;
}
#input-subject{
    grid-area: 6/1/7/2;
}
#msg{grid-area: 1/2/2/3;}
#input-message{
    grid-area: 2/2/7/3;
}
label{box-sizing: border-box; margin:0.25em}
input, textarea{
    box-sizing: border-box;
    border:0;
    outline:0;
    padding: 1em;
    border-radius: 8px;
    width: 95%;
    justify-self: center;
    margin-top: 1em;
    /* resize: none; */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
   
#input-submit {
    grid-area: 7/1/8/3;
    color: black; 
    background:steelblue;
    cursor: pointer;
    width: 97.5%;
}

/* about - parallax scrolling */
/* header .main-figure>img{
    display:none;
} */

/* Parallax CSS - reference https://codepen.io/alexoneal/pen/OBqaoe */
.background-oregon-grapes {
    /* background-image: url("http://aeoneal.com/imagery/blog/oregon-grapes.jpg"); */
    background-image: url("../images/about/daniel-korpai-QhF3YGsDrYk-unsplash.jpg");

    background-size: 100%;
    height: 560px;
    width: 560px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 767px) {
    .background-oregon-grapes {
      height: 330px;
      width: 330px;
    }
  }
  .background-oregon-grapes>img {
    height: 100%;
    width: 100%;
  }


/* parallax END */

/* flip */
/* flip end */

/* no animation */
@media screen and (prefers-reduced-motion: reduce) {
.main-figure img {
    animation: none;
    -webkit-animation: none;
}

}
  



/* tablet view 768*/ 
@media only screen and (min-width: 768px){
    .skip a{
    /* font-size: 80%; */
    left: 0;
    padding: 7px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: relative;
    top: -50px;

}
    .skip a:focus{
        position: relative;
        top: 20px;
      }

    .no-mobile { display: block;}
    .name-for-large{ display: block; }
    body {
        background-color: #f9f9f9;
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr;
        grid-template-rows: auto auto auto auto;
    }

header{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    flex-basis:100%;

}
    header{
        grid-area: 1 / 2 / 1 / 5;
        width: 90%;
        height: auto;
        justify-self: center;
        margin: 0.5em;
    }
    nav {
        background-color:whitesmoke;
        grid-area: 1 / 1 / 4 / 1; 
    }
    /* h1{
        grid-area: 2/ 2 / 2 / 5; 
        justify-self: center;
    } */
    main { grid-area: 3/ 2 / 4 / 5;}
    footer {
        background-color: whitesmoke;
        grid-area: 4 / 1 / 5 / 5;}
    
    /* nav */
    .nav-wrapper{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;

        padding-top: 5%;
        padding-bottom: 5%;
        /* width include padding  and margin */
        box-sizing: border-box;
        width: 100%;
        /* always on the top layer*/
        z-index: 1; 
        flex-basis:100%;

    }
    .left-side{
        display: flex;
        flex-direction: column;

        justify-content: center;
        position: sticky;
        top:0px;

    }
    .right-side-img {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 10em;
        margin-left: 0em;
    }

    .nav-wrapper-sticky{
        position: -webkit-sticky;
	    position: sticky;
	    top: 0;
    }
    /* nav end */

    .content-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        /* border-bottom: 1px solid #DADCE0; */
    }
    
    .content-wrapper>figure, .content-wrapper>*{
        width: 50%;
        height: auto;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    /* animation  on .main-figure*/
@keyframes shake {
    12.5% {left: -50px;}
    25% {left: 50px;}
    37.5% {left: -25px;}
    50% {left: 25px;}
    62.5% {left: -10px;}
    75% {left: 10px;}
}
.main-figure>img {
    position: relative;
    left: 0;
    /* Chrome, Safari, Opera */
    -webkit-animation-name: shake;
    -webkit-animation-duration: 3s;
    /* Standard syntax */
    animation-name: shake;
    animation-duration: 3s;
    animation-iteration-count: 6;
    }
/* animation end */

}

/* desktop view 1024 */
@media only screen and (min-width: 1024px){
    .skip a{
        left: 0;
        padding: 7px;
        -webkit-transition: top 1s ease-out;
        transition: top 1s ease-out;
        z-index: 1;
        position: relative;
        top: -50px;
    
    }
        .skip a:focus{
            position: relative;
            top: 20px;
          }

    body{
        background-color: #e9eae9;
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr;
        grid-template-rows: auto auto auto auto;
    }
    header{ 
        grid-area: 1 / 1 / 1 / 5; 
        width: 100%;
        height: auto;
        justify-self: center;
        margin: 0px;
        padding: 0px;
    }
    nav {
    background-color:white;
    grid-area: 2 / 1 / 4 / 1; 
    }
    /* h1{ 
    grid-area: 2/ 2 / 4 / 5; 
    justify-self: center;
    } */
    main { grid-area: 3/ 2 / 4 / 5;}
    footer { 
    background-color: whitesmoke;
    grid-area: 4 / 1 / 5 / 5;}   

    /* figure + figcaption layout */
    .content-wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:center;
        border-bottom: 1px solid #DADCE0;
        
    }
    /* header */
    header {
        position: relative;
        text-align: center;
        color: darkblue;
    }
    h1 {
        position: absolute;
        bottom: 0px;
        right: 0px;
        transform: translate(-50%, -50%);
        z-index: 1;
        font-size:3em;
      }
    .skip {
    position: absolute;
    top: 8px;
    left: 16px;
    }
    /* nav */
    .nav-wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        padding-top: 5%;
        padding-bottom: 5%;
    
        /* width include padding  and margin */
        box-sizing: border-box;
        width: 100%;
        /* always on the top layer*/
        z-index: 1; 
        flex-basis:100%;
    }
    .left-side{
        display: flex;
        flex-direction: column;

        justify-content: center;
        width: 100%;

        /* remove  sticky */
        position: static;
        top:0px;
 
    }

    .right-side-img {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 10em;
        margin-left: 0em;
        width: 100%;
    }


    /* nav end */

    /* content */
    .content-wrapper>figure{
        box-sizing: border-box;
        width: 95%;
        height: inherit;
        /* padding:1em; */
        /*padding-top: 1em;
        padding-bottom: 1em;
        */background-color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* border-radius: 0.5em; */
        margin: 0.5em;
        
}
    figure > *{
        justify-content: center;
        align-self: center;
    }
    figure > figcaption {
        padding-left: 1em;

    }

    figure:nth-child(even) > img{
        grid-column: 2;
        grid-row: 1;
    }
    figure:nth-child(even) > figcaption{
        grid-column: 1;
        grid-row: 1;
    }

}